/***************************************
cta -2
***************************************/
#cta-2{
    background-image: url("../img/Back.jpg");
}
.white{
    color: #fff;
}
.icon-play, .icon-play:hover, .icon-play:focus{
    background-color: #0CB8B6;
    padding: 5px 10px;
    color: #fff;
    text-decoration: none;
    padding: 5px 17px;
    margin-top: 26px;
    display: block;
}
.text-primary {
    color: #0cb8b6;
}
.icon-mar
{
    margin-right: 7px;
}
