.contenedor-negocios .img {
	height: 200px;

}

.contenedor-negocios .img img{
	height: 180px;
    width: 100%;
}

.contenedor-negocios .card:hover {
   
   background:#7AAAA9;
   transition: 0.5s;
   z-index: 1;
   position: relative;
}

.contenedor-negocios a {
   
   text-decoration: none;
}

.contenedor-negocios span {
   
   color: #7AAAA9;
}

.titulos_slider h1 a{
   text-decoration: none;
   color: blue;
}