/***************************************
                  teampsi
***************************************/
#teampsi{
    background-color: #e1dede;
}

#cta-1{
    background-image: url("../img/gris.jpg");
}

.testi {
    background: #fff;
    padding: 14px 24px;
    margin-bottom: 20px;
    box-shadow: 5px 5px 4px 3px rgba(30, 230, 230, 0.74);
    position: relative;
}
.testi-inf a {
    display: block;
    width: 50px;
    height: 50px;
    background-color: rgb(14, 14, 14);
    border-radius: 50%;
    float: left;
    margin-right: 10px;
}
.testi-inf a img{
    border-radius: 50%;
}
.testi-inf h3 {
    
    display: inline-block;
    line-height: 22px;
    font-weight: 600;
    color: cyan;
    margin-top: 8px;
}
.testi-inf h3 > span {
    display: block;
    line-height: 16px;
    font-weight: 400;
}
.testi::after {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    border-style: solid;
    border-color: transparent;
    border-left: 0;
    bottom: -40px;
    left: 56px;
    border-top-color: #fff;
    border-width: 20px;
}
.testi::before {
    content: '';
    position: absolute;
    transform: rotate(45deg);
    width: 0px;
    height: 0px;
    bottom: -30px;
    left: 45px;
    border-style: solid;
    border-width: 15px;
    border-color: transparent;
    z-index: -1;
    box-shadow: 3px -13px 5px 0px rgba(0, 0, 0, 0.18);
    border-left: 0;
}
.thumbnail {
    border-radius: 0px;
}
.caption h3{
    padding-bottom: 5px;
}
.caption p{
    padding-bottom: 10px;
}
