
/***************************************
banner
***************************************/
.fast {
    -webkit-animation-duration: 2s;
    animation-duration: 2s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}
.navbar {
    margin-bottom: 0px;
    border: 0px;
}
.navbar {
    border-radius: 0px;
}
.navbar-default {
    background-image: #fff;
    padding: 15px 0;
    transition: all 0.3s;
}
.navbar-default {
    background-color: transparent;
    border: 0px;
}
.navbar {
    border-radius: 0px;
}

.navbar-brand
{
    font-family: 'Chewy', cursive;
    font-size: 32px;
}

.navbar-brand img {
    padding-top: 2px;
    width: 120px !important;
}

.navbar-default .navbar-brand, .navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
    color: #EA6045;
}

@media (max-width: 768px) {
    .navbar-collapse {
        background: rgba(28,74,90, 0.9);
    }
}

.top-nav-collapse {
    padding: 0;
    background: rgba(28,74,90, 0.9);
}

/*Color de letra del banner*/
.white, .white:hover, .white:focus, .testi-info h3
{
    color: #07b9efef;
    width: 100% !important;

}
/*Botones del navigation*/
.block
{
    display: block;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:focus, .navbar-default .navbar-nav > .active > a:hover {
    color: #fff;
    text-transform: uppercase;
    background-color: rgba(12, 184, 182, 0.21);
}
.navbar-default .navbar-nav > li > a
{
    color: #fff;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 300;
}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus
{
    color: #fff;
    text-transform: uppercase;
    background-color: rgba(12, 184, 182, 0.21);
}
.affix {
    background-color: #ffffff !important;
}
.affix .navbar-nav > li > a:hover, .affix .navbar-nav > li > a:focus
{
    background-color: #7AAAA9 !important;
}
/*TERMINO DE LOS ICONOS DEL NAVIGATION*/

/*BANNER IMG*/
#banner{
    background: url('../img/Back.jpg') no-repeat fixed;
    background-size: cover;
    min-height: 550px;
    position: relative;
}
.bg-color{
    background-color: RGBA(13, 70, 83, 0.80);
    min-height: 550px;
}
.banner-info{
    padding-top: 190px;
}
.banner-logo img{
    display: inline-block;
}
.banner-text{
    color: #fff;
}
.banner-text h1{
    font-family: 'Candal', sans-serif;
    font-size: 35px;
    text-transform: uppercase;
    padding-bottom:15px;
}
.btn-appoint, .btn-appoint:hover, .btn-appoint:focus{
    margin-top: 30px;
    padding: 10px 20px;
    font-size: 13px;
    background-color: rgba(91, 186, 186, 0.91);
    border-radius: 3px;
    color: #fff;
}
/* ESTILO DE BACKGROUND DE LAS LETRAS */
.overlay-detail a i {
    text-align: center;
    position: absolute;
    bottom: 100px;
    font-size: 38px;
    color: #ffff;
    margin: 0 auto;
}
.text-primary i{
    padding-top: 8px;
    display: inline-block;
}
/* ESTILO DE BACKGROUND DE LAS LETRAS */
/*FIN BANNER*/
